.ADMIN {
  text-align: center;
  font-size: 2em;
  background: -webkit-linear-gradient(#00B77F, #007483);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.modaladd {
  display: none;
}

.confirm, .modalsuppr {
  text-align: center;
  position: fixed;
  width: 50%;
  top: 0;
  top: 50%;
  left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  margin-top: -3%;
  z-index: 100;
  background-color: white;
  border-top: 2px solid #00B77F;
  border-left: 2px solid #00B77F;
  border-bottom: 2px solid #007483;
  border-right: 2px solid #007483;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  display: none;
}

.ouinon {
  display: flex;
  justify-content: space-around;
}

.ouinon > a {
  text-decoration: none;
  color: black;
}

.ouinon > button {
  border: none;
  background-color: white;
}

.oui:hover, .non:hover, .ouisuppr:hover {
  color:  #00B77F;
  transition: 0.3s;
  cursor: pointer;
}

.deco {
  position: absolute;
  top: 120px;
  right: 10px;
  cursor: pointer;
}

.crud {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.crud > img {
  height: 40px;
  width: 40px;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.crud > img:hover  {
    -webkit-animation: rotating 2s linear infinite;
}

.coco > p {
  border: none;
  color: #00B77F;
}

.coco > p:hover {
  background-color: white;
  color: #00B77F;
}
