html {
  height: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Overlock', cursive;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1, p, button {
  font-weight: 100;
  font-family: 'Overlock', cursive;
}

.containernav {
  width: 100%;
  display: flex;
  box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.5);
}

.barre_menu {
  display: flex;
  width: 95%;
  margin: auto;
}

.titre_logo{
  display: flex;
  align-items: center;
  width: 33%;
}

.titre_logo > h1 {
  color: black;
  font-size: 2em;
  letter-spacing: 3px;
}

.titre_logo > img {
  width: 50px;
  height: 50px;
  transform: rotate(20deg);
  margin-left: 10px;
}

.espace_boutique {
  width: 33%;
  text-align: center;
  font-size: 1.5em;
  letter-spacing: 3px;
}

.espace_boutique > h1 {
  font-size: 1.5em;
  background: -webkit-linear-gradient(#00B77F, #007483);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.connexion {
  display: flex;
  width: 33%;
  justify-content: flex-end;
  align-items: center;
}

.mon_panier {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.mon_panier:hover {
  transform: rotate(-20deg);
  filter: contrast(20);
  transition: 0.5;
}

.connexion > u {
  color: red;
}

.connexion >  p > a {
  letter-spacing: 3px;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
  text-decoration: none;
  color: black;
}

.connexion >  p > a:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
}


/* FIN NAV BAR */

.range_darticle{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.article {
  width: 25%;
  border: 1px solid #CBCBCB;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-top: 100px;
}

.article_modal {
  background-color: white;
  width: 100%;
  z-index: 99;
}

.modal {
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 50%;
  top: 0;
  top: 50%;
  left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  margin-top: -3%;
  z-index: 100;
}

.intermodal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 98;
  background-color: transparent;
  top: 0;
  display: none;
  overflow-y: hidden;
}

.article:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
}

.close {
  width: 30px;
  height: 30px;
  display: none;
}

.img_text {
  display: flex;
  flex-direction: column;
}

.img_article {
  height: 250px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.img_article > img {
  height: 65%;
  margin: auto;
  border-radius: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.text_article {
  padding-top: 10px;
  border-top: 1px solid #CBCBCB;
}

.text_article > h3 {
  cursor: pointer;
}

.bouton_detail_panier {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 20%;
  align-items: flex-end;
}

.ajout_panier{
  color: #00A340;
  display: none;
}

.panier {
  border-bottom-right-radius: 10px;
  background-color: white;
  cursor: pointer;
}

.panier:hover {
  background-color: #00A340;
  transition: 0.3s;
}

.panier > img:hover{
  filter: contrast(20);
  transform: rotate(-20deg);
  transition: 0.3s;
}

.panier > img {
  width: 25px;
  height: 25px;
}

.pimppanier {
  width: 50px!important;
  height: 50px!important;
  border: none !important;
  background-color: transparent !important;
  cursor: pointer;
}

.pimppanier > img {
  width: 40px;
  height: 40px;
}

.pimppanier > img:hover {
  transform: rotate(340deg);
  filter: contrast(20);
  width: 50px;
  height: 50px;
  transition: 0.4s;
}

.panier, .detail {
  height: 30px;
  border: 1px solid grey;
}

.detail {
  border-top-left-radius: 10px;
  background-color: white;
  font-size: 20px;
  cursor: pointer;
}

.detail:hover{
  color: white;
  background-color: black;
  transition: 0.3s;
}

.nodetail {
  display: none;
}

footer {
  width: 100%;
  margin-top: 100px;
  border-top: 2px solid #CBCBCB;
}

.reseau_part{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.reseau_part > a > img  {
  width: 60px;
  height: 60px;
  filter: contrast(0);
}

.reseau_part > a img:hover {
  filter: contrast(1);
  transition: 0.3s;
}

.contacts{
  width: 100%;
  display: flex;
  justify-content: space-around;
  letter-spacing: 5px;
  color: grey;
}
