body {
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.PUPUCE {
  width: 80px;
  margin: auto;
  margin-bottom: 20px;
}

.titre {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(#00B77F, #007483);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.retour {
  filter: contrast(0);
  position: absolute;
  top: 5px;
  right: 5px;
}

.retour:hover {
  filter: contrast(1);
  transition: 0.3s;
}

#myForm, #inscri {
  width: 30%;
  margin: auto;
  text-align: center;
  margin-top: 12%;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 2px solid #00B77F;
  border-left: 2px solid #00B77F;
  border-bottom: 2px solid #007483;
  border-right: 2px solid #007483;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: white;
  margin-top: 0px;
}

.boubou {
  margin-bottom: 50px;
  width: 70%;
  border-radius: 5px;
  border: none;
  background-image: linear-gradient(to right, #00b77f, #00a78a, #00978e, #00858c, #007483);
  color: white;
}

input {
  margin-bottom: 50px;
  width: 70%;
  border-radius: 5px;
  border: none;
  text-align: center;
  border-bottom: 1px solid grey;
}

#error {
  color: red;
}

@media (max-width: 935px){

  #myForm, #inscri{
    width: 80%;
  }
  .logo_parsec{
    width: 200px;
    margin-top: 100px;
  }
}

.inscription:hover {
  color: #00b77f;
  transition: 0.4s;
}

#inscri {
  display: none;
}
